logs/

# air
.tmp
.pidfile

# neovim
.null-ls*

# build
/bin/*
!/bin/.gitkeep

# environments
.env

# misc
.DS_Store

# test articles
*foo*.md
mine/

# go workspaces
/go.work.sum
/go.work

# tailwind
/node_modules

# test files
/cmd/compile/*_test.go
